body, html{
    height: 100%;
}

.bg {
    background-image:  url('https://cdn.static-economist.com/sites/default/files/images/print-edition/20180728_BKP005_0.jpg');
    /* url('https://fee.org/media/22215/adam_smith2.jpg?anchor=center&mode=crop&width=1920&rnd=131388985760000000'); */
    /* url('https://whenbullhitsthefan.files.wordpress.com/2019/03/adamsmith-1380.jpg'); */
    /* url('https://cdn.static-economist.com/sites/default/files/images/print-edition/20180728_BKP005_0.jpg'); */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*
Image Source Link:
https://www.economist.com/books-and-arts/2018/07/26/rescuing-adam-smith-from-myth-and-misrepresentation
*/
