body {
    background-repeat: no-repeat;
    background-image: url(https://cdn.static-economist.com/sites/default/files/images/print-edition/20180728_BKP005_0.jpg);
}

/*
Image Source Link:
https://www.economist.com/books-and-arts/2018/07/26/rescuing-adam-smith-from-myth-and-misrepresentation
*/
