<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

    <h1>The Words of Adam Smith</h1>

    <h2>Don't Like Capitalism? I don't blame you! </h2>

    <h3>What did Adam Smith, or "The Father of Capitalism", actually write about the system? </h3>

    <p>Here are a few words. These are randomly selected one-by-one from <i>The Wealth of Nations</i> (1776): <br><br>
        "
        {% for word in words %}
            {{ word }}
        {% endfor %}
        ."
    </p>

{% endblock %}
